In [1]:
# Imports
import matplotlib
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn import datasets
from sklearn import preprocessing
from sklearn.model_selection import train_test_split, cross_validate,GridSearchCV
from sklearn.ensemble import RandomForestClassifier
from sklearn.preprocessing import LabelEncoder
import sklearn.tree as tree
import numpy as np
import pandas as pd
# import pydotplus
%matplotlib inline

In [2]:
data = datasets.load_iris()
df = pd.DataFrame(data = data.data)
df.columns = data.feature_names
df['class'] = data.target
df['target'] = data.target
df['class'] = df['class'].apply(lambda x: data['target_names'][x])
df.sample(n=10, random_state=1)

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class,target
14,5.8,4.0,1.2,0.2,setosa,0
98,5.1,2.5,3.0,1.1,versicolor,1
75,6.6,3.0,4.4,1.4,versicolor,1
16,5.4,3.9,1.3,0.4,setosa,0
131,7.9,3.8,6.4,2.0,virginica,2
56,6.3,3.3,4.7,1.6,versicolor,1
141,6.9,3.1,5.1,2.3,virginica,2
44,5.1,3.8,1.9,0.4,setosa,0
29,4.7,3.2,1.6,0.2,setosa,0
120,6.9,3.2,5.7,2.3,virginica,2

In [3]:
# Assigning X and y
X = df[['sepal length (cm)','sepal width (cm)','petal length (cm)', 'petal width (cm)']]
y = df['target']

In [4]:
# Train Test Split
x_train,x_test,y_train,y_test = train_test_split(X,y,test_size = 0.20, random_state=0)

In [5]:
rfc = RandomForestClassifier(random_state=4)

In [6]:
rfc.fit(x_train, y_train)

RandomForestClassifier(random_state=4)

In [7]:
rfc.score(x_test,y_test)

0.9666666666666667

In [8]:
df1 = pd.read_csv("zoo.csv", sep=',')
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 101 entries, 0 to 100
Data columns (total 18 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   animal_name  101 non-null    object
 1   hair         101 non-null    int64
 2   feathers     101 non-null    int64
 3   eggs         101 non-null    int64
 4   milk         101 non-null    int64
 5   airborne     101 non-null    int64
 6   aquatic      101 non-null    int64
 7   predator     101 non-null    int64
 8   toothed      101 non-null    int64
 9   backbone     101 non-null    int64
 10  breathes     101 non-null    int64
 11  venomous     101 non-null    int64
 12  fins         101 non-null    int64
 13  legs         101 non-null    int64
 14  tail         101 non-null    int64
 15  domestic     101 non-null    int64
 16  catsize      101 non-null    int64
 17  class_type   101 non-null    int64
dtypes: int64(17), object(1)
memory usage: 14.3+ KB

In [9]:
## Since Animal names are unique we can drop them or we can perform label encoding.
X1 = df1.drop(['class_type'], axis=1)
y1 = df1['class_type']

In [10]:
labelencoder = LabelEncoder()
X1_labled = X1.copy()

X1_labled['animal_name'] = labelencoder.fit_transform(X1['animal_name'])

In [11]:
# Train Test Split
x1_train,x1_test,y1_train,y1_test = train_test_split(X1_labled,y1,test_size = 0.20, random_state=3)
x1_train

,animal_name,hair,feathers,eggs,milk,airborne,aquatic,predator,toothed,backbone,breathes,venomous,fins,legs,tail,domestic,catsize
12,12,0,0,1,0,0,1,1,1,1,0,0,1,0,1,0,0
8,8,0,0,1,0,0,1,1,1,1,0,0,1,0,1,0,0
4,4,1,0,0,1,0,0,1,1,1,1,0,0,4,1,0,1
80,79,0,0,1,0,0,0,1,1,1,1,0,0,0,1,0,0
87,86,0,1,1,0,1,1,0,0,1,1,0,0,2,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
0,0,1,0,0,1,0,0,1,1,1,1,0,0,4,0,0,1
72,71,0,0,0,0,0,0,1,0,0,1,1,0,8,1,0,0
56,55,0,1,1,0,0,0,0,0,1,1,0,0,2,1,0,1
3,3,1,0,0,1,0,0,1,1,1,1,0,0,4,0,0,1
24,24,0,0,1,0,0,0,0,0,0,1,0,0,6,0,0,0

In [30]:
rfc1 = RandomForestClassifier(criterion = 'entropy', max_depth =5, min_samples_leaf= 1, min_samples_split= 2, n_estimators=3, bootstrap=True)

In [31]:
rfc1.fit(x1_train, y1_train)

RandomForestClassifier(criterion='entropy', max_depth=5, n_estimators=3)

In [32]:
rfc1.score(x1_test,y1_test)

0.9047619047619048

In [33]:
rfc1.estimators_

[DecisionTreeClassifier(criterion='entropy', max_depth=5, max_features='auto',
                        random_state=770313733),
 DecisionTreeClassifier(criterion='entropy', max_depth=5, max_features='auto',
                        random_state=1245836959),
 DecisionTreeClassifier(criterion='entropy', max_depth=5, max_features='auto',
                        random_state=1040650184)]

In [34]:
rfc1.decision_path(X1_labled)

(<101x67 sparse matrix of type '<class 'numpy.int64'>'
 	with 1333 stored elements in Compressed Sparse Row format>,
 array([ 0, 25, 46, 67], dtype=int32))